/*显示一个人的身份并传递*/
.m-cover-wrapper{
    margin: .26rem auto 0;
    padding-top: 1.80rem;
    width: 70%;
    height: 4.6rem;
    border: .06rem solid #fff;
    background: #ffedc5;
}

.m-cover-img{
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #fff url(../pic/sprite.png) 0 -4.2rem ;
    background-size: 7.2rem 7.2rem;
    border: .01rem solid #fff;
}

.m-cover-number{
    position: relative;
    z-index: 2;
    top: .63rem;
    margin: 0 auto;
    width: .68rem;
    height: .68rem;
    text-align: center;
    line-height: .68rem;
    font-size: .34rem;
    font-weight: bold;
    color: #f56b81;
    border-radius: 50%;
    background: #fff;
    border: #ffedc5 solid .03rem;
}
.m-gamer-wrapper{
    margin: .26rem auto 0;
    padding-top: .60rem;
    width: 70%;
    height: 5.8rem;
    border: .06rem solid #fff;
    background: #ffedc5;
}
.m-gamer-img{
    margin: 0 auto;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #fbb435 url(../pic/sprite.png) -3.01rem -4.98rem ;
    background-size: 7.2rem 7.2rem;
}
.m-gamer-identify{
    text-align: center;
    line-height: 1.28rem;
    color: #29bde0;
}
.m-gamer-tips{
    color: #fbb435;
    padding: .16rem;
    margin-top: 1.28rem;
    border-top: .02rem solid #fff;
}












