/***********header*********/


.h-home--png{
    float: left;
    margin-left: .20rem;
    margin-top: .10rem;
    height: .40rem;
}
.h-notice--png{
    float: right;
    margin-right: .20rem;
    margin-top: .10rem;
    height: .40rem;
}
/*************main**********/
#main{
    width: 100%;
    line-height: .36rem;
}
/***********count**********/
.m-count--box{
    margin: .20rem auto;
    width: 80%;
    background: url(../pic/winner.png)no-repeat top;
    background-size: 3.51rem 2.05rem;
}
#winnerDom{
    padding-top: 1.45rem;
    text-align: center;
    color : #fff;
    margin-bottom: .20rem
}
.m-count-notice--p{
    margin-bottom: .40rem;
    line-height: .40rem;
    font-size: .32rem;
    color: #ffc865;
}
.m-count-tab{
    color: #fff;
    line-height: .36rem;
}
.m-count-tab td{width: 37%}
.m-detail-box{
    padding: 0 10% .20rem 10%;
    width: 80%;
    color: #888;
    background: #fff;
    border-top: .01rem solid #ddd;
    border-bottom: .01rem solid #ddd;
}
.m-detail-h3{
    color: #000;
    line-height: .50rem;
    padding-bottom: .09rem;
}
.m-detail-time{
    display: block;
    float: right;
    line-height: .58rem;
    font-size: .18rem;
}
/***************footer***************/




