*{margin: 0; padding: 0;}
    html,body{width: 100%;}
    html{font-size: calc(100vw/320)}
    html{font-family: "Microsoft YaHei UI Light", serif;}
    body{font-size: 24px;}
#box-wrapper{width: 100%;}
.box0{
    display: inline-block;
    width: 32%;
    height: 32vw;
    margin: 1% 0 0 1% ;
    border-radius: 2vw;
    background: orange;
    text-align: center;
    /*background: rgb(123, 234, 567);*/
}
.btn-wrapper{
    width: 70%;
    text-align: center;
    padding: 16px 15%;
}
.btn-1{
    padding: 16px 32px;
    margin: 16px;
    border-radius: 5px;
    outline-style: none;
    font-size: 24px;
    background: orange;
    color: #fff;
    font-family: "Microsoft YaHei UI Light",serif;
}



