header{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 640px;
    height:.64rem;
    /*padding-top:.63rem;*/
    line-height: .64rem;
    text-align: center;
    font-size: .32rem;
    color: #fff;
    background-color: #29bde0;
    border-bottom: 1px solid #47c6e4;
    z-index: 1;
}
body{padding-top: .64rem;}
.h-left{
    position: absolute;
    left: 0;
    top: 0;
    width: 15%;
    height: .64rem;
    padding-left: .08rem;
    text-align: left;
}
.h-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    height: .64rem;
    padding-right: .08rem;
    text-align: right;
}
.h-center{
    display: block;
    width: 40%;
    height: .64rem;
    margin: 0 auto;
    text-align: center;
}
.main{
    width: 6.24rem;
}










